 <div id="content-wrapper" >
       <div class="container">
               <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <h4 class="c-h4">Post a Blog</h4>
                    <div class="empty-space marg-lg-b30"></div>
                    <div class="tt-comment-post clearfix">
                        <a class="tt-comment-post-img custom-hover round" href="#">
                            <img src="img/user.png" height="40" width="40" alt="">
                        </a>
                        <div class="tt-comment-post-info">
                            <div class="simple-text size-3">
                                <p>Your email address will not be published. Required fields are marked *</p>
                            </div>
                            <div class="tt-comment-post-form">
                                <form>
                                    <textarea class="c-area type-2" required placeholder="Write Blog *"></textarea>
                                    
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input class="c-input type-2" type="text" required placeholder="Your Name *">
                                            <input class="c-input type-2" type="text" required placeholder="Your Email *">
                                                                             
                                        </div>
                                    </div>
                                    <div class="c-btn type-3 size-2">
                                        <input type="submit" value="Post Comment">
                                    </div>

                                </form>                                 
                            </div>
                        </div>
                    </div>
            </div>
           </div>           
        </div>      
    </div>  