<!doctype html>
<html class="no-js" lang="">

<head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- SITE TITLE -->
    <title>Classgenie</title>
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.ico">
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css" media="all"/>
    <link rel="stylesheet" href="assets/vendor/fontawesome/css/font-awesome.min.css" media="all"/>
   
    <!-- for animation effects animate.css -->

    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>

    <!-- MASTER  STYLESHEET  -->
    <link id="cbx-style" rel="stylesheet" href="assets/css/style.css" media="all"/>

    <!-- MODERNIZER CSS  -->
</head>
<body>
<div class="cbx-container">
    <div id="wrapper" class="cbx-wrapper">
  

        <section>
            <div id="cbx-home" class="cbx-home">
                <div class="cbx-inner">

                    
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                                <div class="cbx-logo text-center wow fadeInUp" data-wow-delay=".3s">
                                    <a href="#"><img src="assets/img/logo.png" alt="logo"></a>
                                </div>
                                <!--//.cbx-logo-->
                                <div class="home-text text-center">
                                    <h1 class="wow fadeInUp " data-wow-delay=".9s">Coming Soon</h1>

                                    <p class="wow fadeInUp" data-wow-delay="1.5s">Get ready to set up the community and create an ultimate education network through this amazing Classgenie app, now available at Google Play store. Soon going to be accessible at App store and Window Store as well.</p>

                                    <div class="box">
                                        <div class="big-countdown">
                                            <div>
                                                <span data-startdate="31-08-2016" id="startupcountdown"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--//.text-->
                                    

                                </div>
                                
                                <div class="text-center-new col-sm-offset-4 col-xs-offset-2  col-md-8">
                                
                                <div class="social fb">
                                <a href="https://www.facebook.com/ClassGenie-638010236367664/?fref=ts"><i class="fa fa-facebook"></i></a>
                                
                                </div>
                                <div class="social tw">
                                <a href="https://twitter.com/classgenie"><i class="fa fa-twitter"></i></a>
                                
                                </div>
                                <div class="social go">
                                <a href="https://plus.google.com/b/102188050452858159635/102188050452858159635/posts?gmbpt=true&pageId=102188050452858159635"><i class="fa fa-google-plus"></i></a>
                                
                                </div>
                                <div class="social lin">
                                <a href="https://www.linkedin.com/home?trk=nav_responsive_tab_home"><i class="fa fa-linkedin"></i></a>
                                
                                </div>
                                
                                
                                </div>
                                
                                
                                
                            </div> <!--//.col-12-->
                        </div>
                        
                        
                         <!--//.row-->

                    </div>
                    
                    
                    
                    <!--//.container-->
                </div>
                <!--//.cbx-inner-->

            </div>
            <!--//.cbx-mainslider-->

        </section>
    </div>
</div>
<!--// .bx-container -->



<!-- adding bootstrap js -->
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>  <!-- from local -->

</body>

</html>
