    <!-- header top section ---->
    <% include layouts/header_top.ejs %>
    <!-- eof header top section ---->
    <body class="animated-css">
        <div class="sp-body">
        <!-- header top section ---->
        <% include layouts/header.ejs %>
        <!-- header top section ---->
        <!-- content section ---->
        <br><br><br><br>
	    <div class="loginmodal-container" ng-controller="forgotPasswordController">
			  <h1>Reset Password</h1><br>
			  <form ng-submit="submitforgotpasswordForm()" method="post">
				<input type="password" name="pass" id="pass" placeholder="Password" required>
				<input type="password" name="cpass" id="cpass" placeholder="Type your new password again" required>
				<input type="hidden" name="email_id"  id="email_id" value="<%= email_id %>" />
				<input type="submit" name="Reset Password" class="login loginmodal-submit" value="Reset Password">
			  </form>
	    </div>
		<br><br><br>
        <!-- eof content section ---->
        <!-- footer section ---->
        <% include layouts/footer.ejs %>      
        <!-- fotter section ---->
        </div>
        <!-- footer  bottom section ---->
        <% include layouts/footer_bottom.ejs %>
        <!-- footer bottom section ---->
		<script src="js/common/forgot_password.js"></script>
    </body>
<!-- Mirrored from html.templines.com/sokolcov/appbox/home-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 Jun 2016 13:04:46 GMT -->
</html>