    <!-- header top section ---->
    <% include layouts/header_top.ejs %>
    <!-- eof header top section ---->
    <body class="animated-css">
        <div class="sp-body">

        <!-- header top section ---->
        <% include layouts/header.ejs %>
        <!-- header top section ---->
        
        <!-- content section ---->
        <%- include sections/login.ejs %>
        <!-- eof content section ---->

        <!-- footer section ---->
        <% include layouts/footer.ejs %>      
        <!-- fotter section ---->
        </div>

        <!-- footer  bottom section ---->
        <% include layouts/footer_bottom.ejs %>
        <!-- footer bottom section ---->
        <script src="js/common/login.js"></script>
        
     </body>

<!-- Mirrored from html.templines.com/sokolcov/appbox/home-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 Jun 2016 13:04:46 GMT -->
</html>