    <!-- header top section ---->
    <% include layouts/header_top.ejs %>
    <!-- eof header top section ---->
    <body class="animated-css">
        <div class="sp-body">
        <!-- header top section ---->
        <% include layouts/header.ejs %>
        <!-- header top section ---->
        <!-- content section ---->
        <section id="pageTitleBox" class="pageRow paralax skew skew-bottom newbg trianglifyBox">
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 class="page-title ralewayLight whiteTxtColor titleWithIcon">
                            Classgenie Message
                        </h1>
                        <div class="storelinks-container">
                            <div class="container">
                             <div class="center_block">
                              <div class="thnkyou_icon"><span class="glyphicon glyphicon-envelope"></span></div>
                                <p><%= message %>
                                <br><span><a href="http://www.http://classgenie.in/" style="text-decoration:none; color:#000;"></a>
                                </span> </p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <div class="skew_appended whiteSection"></div>
        </section>
        <!-- eof content section ---->
        <!-- footer section ---->
        <% include layouts/footer.ejs %>      
        <!-- fotter section ---->
        </div>
        <!-- footer  bottom section ---->
        <% include layouts/footer_bottom.ejs %>
        <!-- footer bottom section ---->
    </body>
<!-- Mirrored from html.templines.com/sokolcov/appbox/home-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 Jun 2016 13:04:46 GMT -->
</html>